include variable.pug

mixin moCom1(x='Pic.png',y='Dr. Mohamed Abd-Elghany',z='Founder&CEO')
    .card(href="#" class="mo-com-1") 
        img.card-img-top(src=img+"people/"+x alt="...")
        .card-body
            h5.card-title=y
            p.card-text!=z
                    


mixin moCom2(x,y,z)
    section(class="mo-com-2" 
        style=`
          background:
            linear-gradient(
              rgba(0, 0, 0, 0.4),
              rgba(0, 0, 0, 0.4)
            ),
            url(
              '${img}${z}'
              )`)
        .container
          h3.co-heading=x
          p.para=y
          a.co-link-arrow(href="#")
            i(class="fas fa-chevron-down")

mixin moCom3(x,y)
  section(class="mo-com-3")
      .container
        h3.co-heading=x
        p.para=y


mixin moCom4(x,contactInfo1,y='',z="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13810.914137448195!2d31.297681323449176!3d30.073314925069962!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14583f9613e8eecd%3A0x8cd1d9de97a27bc1!2z2YLYtdixINin2YTYsti52YHYsdin2YbYjCDZg9mI2KjYsdmKINin2YTZgtio2KnYjCDYp9mE2YjYp9mK2YTZidiMINmF2K3Yp9mB2LjYqSDYp9mE2YLYp9mH2LHYqeKArA!5e0!3m2!1sar!2seg!4v1619393554734!5m2!1sar!2seg")
  section(class="mo-com-4 "+y)
      .container
        .row
          .col-md-7
            h4.co-heading=x
            .co-map
              iframe.w-100(src=z width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy")
          .col-md-5
            .co-mian-info
              each val in contactInfo1
                .co-info
                  .co-ico
                    i(class=val[0])
                  .co-content
                    p.para!=val[1]



mixin moCom5(valTitle,valLocation,valImg,valHref='#',valClass='',valFilter='')
  div(class=`col-lg-4 col-md-6 ${valClass} ${valFilter}`)
    a.card.mo-glob-card-project.mb-4(href=valHref) 
      img.card-img-top(src=img+'projects/'+valImg alt="...")
      .card-body
        h5.card-title=valTitle
      p.para-location=valLocation

mixin moCompArrow
  img(
    draggable="false"
    role="img"
    class="emoji"
    alt="▶"
    src=img+"25b6.svg")
